<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="https://github.com/Sortient">Owen Sortwell</a>
    <ul class="nav nav-pills">
        <li class="nav-item a-white">
            <a class="nav-link" routerLink="/home" routerLinkActive="text-light">Home</a>
        </li>
        <!-- <li class="nav-item a-white">
            <a class="nav-link" routerLink="/about" routerLinkActive="text-light">About</a>
        </li> -->
        <!-- <li class="nav-item a-white">
            <a class="nav-link" routerLink="/portfolio" routerLinkActive="text-light">Portfolio</a>
        </li>
        <li class="nav-item a-white">
            <a class="nav-link" routerLink="/contact" routerLinkActive="text-light">Contact</a>
        </li> -->
    </ul>
  </nav>