<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          

<footer class="footer ">
    <div class="container">
      <div class="footer-content">
        <div class="col-12">
          <p>Copyright &copy; {{copyrightYears}} Owen Sortwell. All rights reserved.</p>
          <a href="{{githubUrl}}" 
             target="_blank" 
             rel="noopener noreferrer" 
             class="mx-2 text-light">
            <i class="devicon-github-original" style="font-size:2rem;"></i>
          </a>
          <a href="{{linkedinUrl}}" 
             target="_blank" 
             rel="noopener noreferrer" 
             class="mx-2 text-light">
            <i class="devicon-linkedin-plain" style="font-size:2rem;"></i>
          </a>
        </div>
      </div>
    </div>
</footer>