<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          

<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="social-links mb-3">
          <a href="{{githubUrl}}" 
             target="_blank" 
             rel="noopener noreferrer" 
             class="social-icon">
            <i class="devicon-github-original"></i>
          </a>
          <a href="{{linkedinUrl}}" 
             target="_blank" 
             rel="noopener noreferrer" 
             class="social-icon">
            <i class="devicon-linkedin-plain"></i>
          </a>
        </div>
        <p class="copyright">Copyright &copy; {{copyrightYears}} Owen Sortwell. All rights reserved.</p>
        <p class="version">Version {{appVersion}}</p>
      </div>
    </div>
  </div>
</footer>