<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
<div class="container my-5">
    <header class="text-center mb-5">
      <h1 class="display-4 ">Owen Sortwell</h1>
      <p class="lead">Graduate Software Engineer</p>
    </header>
    <section id="about" class="row justify-content-center mb-4">
      <h3 class="mb-3">About Me</h3>
      <p>
        I'm a {{currentAge}} year old software engineer, originally from Derry in Northern Ireland but now based in Edinburgh, Scotland, having moved here after graduating in 2023.</p> 
      <p>
          I found my passion for software development when I started modding games as a teenager. I was about 12 when I created an (admittedly rubbish) custom map for Call of Duty 4: Modern Warfare. I've been hooked ever since.
      </p>
      <p>
        In my free time I love music - particularly anything rock/metal - and really enjoy playing guitar and singing.
      </p>
      <h3 class="mb-3">Education</h3>
      <p>
        MEng Computer Science at Queen's Unversity Belfast
      </p>
      <h3 class="mb-3">Skills</h3>
    </section>

  </div>
</div>