<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
<div class="container my-5">
    <!-- Header Section -->
    <header class="text-center mb-5">
      <h1 class="display-4 ">Owen Sortwell</h1>
      <p class="lead">Graduate Software Engineer</p>
    </header>
  
    <!-- About Me Section -->
    <section id="about" class="row justify-content-center mb-4">
      <h3 class="mb-3">About Me</h3>
      <p>
        I'm a {{currentAge}} year old software engineer. I'm originally from Northern Ireland but am now based in Edinburgh, Scotland. I have a passion for software development and am always looking to learn new things. I have experience in a variety of programming languages and technologies, including Java, Python, JavaScript, and SQL. I have also worked with a variety of frameworks and libraries, including Spring Boot, React, and Angular. I am always looking to expand my knowledge and learn new things, and I am excited to see where my career takes me.
      </p>
    </section>
  
    <!-- Contact Section -->
    
  </div>
</div>