<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="container my-5">
      <section id="contact" class="mb-4">
          <h3 class="mb-3 a-white">Contact</h3>
          <p class="a-white">Send me a message:</p>
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Your Name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Your Email">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="3" placeholder="Your Message"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Send Message</button>
          </form>
        </section>
  </div>
</div>