<div class="portfolio-container">
    <div class="container py-5">
      <header class="text-center mb-5">
        <h1 class="display-4 mb-3">My Projects</h1>
        <p class="lead">Here's some of the stuff I've worked on so far:</p>
      </header>
      <div class="projects-grid">
        @for (project of projects; track project.id) {
        <div class="project-item">
          <div class="project-card">
            <div class="project-image">
              <img src="{{project.image}}" alt="{{project.title}}">
              <div class="project-overlay">
                @if (project.link) {
                <a href="{{project.link}}" target="_blank" class="btn btn-custom-primary">
                  <span>View Project</span>
                  <i class="fa-solid fa-external-link-alt ms-2"></i>
                </a>
                }
              </div>
            </div>
            <div class="project-content">
              <h3 class="project-title">{{project.title}}</h3>
              <p class="project-description">{{project.description}}</p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>