<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <div class="jumbotron">
      <h1 class="display-4">{{displayText}}<span class="cursor">|</span></h1>
      <p class="lead">I'm a Software Engineer originally from Northern Ireland, now based in Edinburgh.</p>
      <hr class="my-4">
      <p>I have approximately 2 years of experience working as a developer. </p>
      <p>I am primarily experienced in backend .NET development, however through a wide variety of personal projects I am trying to expand my knowledge across all full stack development.</p>
      <p>This website is still under construction - please come back soon! In the meantime, here are some languages/frameworks/tools I use:</p>
  </div>
  <div class="container py-4">
      <div class="row text-center">
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-cplusplus-plain" style="font-size: 4rem;"></i>
          <p>C++</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-csharp-plain" style="font-size: 4rem;"></i>
          <p>C#</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-dot-net-plain" style="font-size: 4rem;"></i>
          <p>.NET</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-java-plain" style="font-size: 4rem;"></i>
          <p>Java</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-angular-plain" style="font-size: 4rem;"></i>
          <p>Angular</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-python-plain" style="font-size: 4rem;"></i>
          <p>Python</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-sqlite-plain" style="font-size: 4rem;"></i>
          <p>SQLite</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-godot-plain" style="font-size: 4rem;"></i>
          <p>Godot</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-jenkins-plain" style="font-size: 4rem;"></i>
          <p>Jenkins</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-typescript-plain" style="font-size: 4rem;"></i>
          <p>TypeScript</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-gimp-plain" style="font-size: 4rem;"></i>
          <p>GIMP</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <i class="devicon-photoshop-plain" style="font-size: 4rem;"></i>
          <p>Photoshop</p>
        </div>
      </div>
    </div>
    
</div>